@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

[placeholder]:empty::before {
  content: attr(placeholder);
  color: red;
}
[placeholder]:empty:focus::before {
  content: "";
}
